.bomb-div {
  position: relative;
  background-image: url("./bomblol.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 333px;
  width: 288px;
  margin-top: 20px;
}

.try-jug {
  width: 250px;
  height: 75px;
  margin-top: 15px;
}

@media (max-width: 770px) {
    .barrel-small-margin {
        margin-top: 40px;
    }
}
